extends layout 

block content 
    form(class="center" action="/sign-up" method="POST")
        div(class="input-container")
            h2 Sign up
            input(type="text" placeholder="username" name="username")
            input(type="password" placeholder="password" name="password")
            button(type="submit") Submit